{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "corejs": "3.22"
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "babel-plugin-styled-components",
            {
                "minify": true,
                "transpileTemplateLiterals": false,
                "pure": true,
                "displayName": false,
                "fileName": false
            }
        ],
        [
            "@babel/plugin-transform-modules-commonjs",
            {
                "allowTopLevelThis": true
            }
        ]
    ]
}