{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
        [
            "babel-plugin-styled-components",
            {
                "minify": true,
                "transpileTemplateLiterals": false,
                "pure": true,
                "displayName": false,
                "fileName": false
            }
        ],["@babel/plugin-transform-modules-commonjs"]
    ]
}